<script>
function startUpload() {
  var files = document.getElementById('file').files;
  if (!files.length) {
    return alert('Please choose a file to upload first.');
  }
  var file = files[0];

  var delete_xhr = new XMLHttpRequest();
  delete_xhr.open("POST",'https://www.openhumans.org/api/direct-sharing/project/files/delete/?access_token={{oh_member.access_token}}',true);
  delete_xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  delete_xhr.send('project_member_id={{oh_member.oh_id}}&all_files=True')
  delete_xhr.onreadystatechange = uploadFile;
  function uploadFile(e) {
    if (delete_xhr.readyState == 4 && delete_xhr.status == 200) {
      replacement =  '<h3>Your Upload started</h3><div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div></div>'
      $("#upload_form").replaceWith('<div id="upload_form">'+replacement+'</div>');
      var xhr = new XMLHttpRequest();
      var metadata = JSON.stringify({"tags":["twitter","twitter-archive"],"description" : "Twitter archive file"});
      xhr.open('POST', "https://www.openhumans.org/api/direct-sharing/project/files/upload/direct/?access_token={{oh_member.access_token}}", true);
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.send('project_member_id={{oh_member.oh_id}}&filename='+file['name']+'&metadata='+metadata);
      xhr.onreadystatechange = putFile;
      function putFile(e) {
        if (xhr.readyState == 4 && xhr.status == 201) {
            var response = JSON.parse(xhr.responseText);
            var put_xhr = new XMLHttpRequest();
            put_xhr.open('PUT', response['url'], true);
            put_xhr.setRequestHeader('Content-type','');
            put_xhr.send(file)
            put_xhr.onreadystatechange = uploadedFile;
            function uploadedFile(e) {
              if (put_xhr.readyState == 4 && put_xhr.status == 200) {
                var finish_xhr = new XMLHttpRequest();
                finish_xhr.open('POST', "https://www.openhumans.org/api/direct-sharing/project/files/upload/complete/?access_token={{oh_member.access_token}}", true);
                finish_xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                finish_xhr.send('project_member_id={{oh_member.oh_id}}&file_id='+response['id']);
                finish_xhr.onreadystatechange = finishedFile;
                function finishedFile(e) {
                  if (finish_xhr.readyState == 4 && finish_xhr.status == 200) {
                    console.log('uploaded file')
                    trigger_graph_xhr = new XMLHttpRequest();
                    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                    trigger_graph_xhr.open('POST', "{% url 'regenerate' %}", true);
                    trigger_graph_xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    trigger_graph_xhr.send()
                    var done = "<h3>Upload successful. You will get a message on <em>Open Humans</em> when your graphs are available.</h3>"
                    $("#upload_form").replaceWith('<div id="upload_form">'+done+'</div>');
                  } else {
                    console.log('finalizing went wrong')
                  }
                }
              } else {
                console.log('uploading w/ put went wrong')
              }
            };
          } else {
            console.log('getting upload URL went wrong')
          }
        }
      } else {
        console.log('deleting files went wrong');
      }
    }
}
</script>
{% csrf_token %}
<div id='upload_form'>
<form method="get" enctype="multipart/form-data">
  {% if form.errors %}
  <div class="well">
    <b>Errors</b><br>
    {{ form.errors }}
  </div>
  {% endif %}
  {% csrf_token %}
  <p>
    <b>Upload Twitter archive file</b><br>
    (complete zip-file as downloaded)<br>
    <input id='file' type="file" name="file" class="btn">
  </p>
  <input class="btn btn-primary" value="Upload Twitter archive" onClick="startUpload()"></br></br>
  <p>
    <small>The analysis after the upload can take a while. We will message you through
    the <em>Open Humans</em> system once your graphs are ready.</small>
  </p>
</form>
<p>
  <small>
    The Javascript uploader has failed for some users in the past. You could try another browser
    or <a href="{% url 'upload_old' %}">use the simpler upload form</a>.
  </small>
</p>
</div>
