<div class="alert alert-info" role="alert">
  <p>
    There is no graph here yet. This might have two different reasons:
  </p>
  <p>
    <strong>1.</strong> You lack the data to generate this graph. For example you might
    never have tweeted with geo locations enabled, thus we can't show you your maps or
    times when you tweet. Or you never replied/retweeted anyone.
  </p>
  <p>
    <strong>2.</strong> This graph isn't fully calculated yet. Depending on the size of the
  Twitter archive the initial graph generation can take a while.
  But no worries, once that is done they will be loaded instantaneously on subsequent visits.
  We will send you an email through <em>Open Humans</em> once your graphs have been calculated.
  </p>
</div>
