{% extends 'tweet_display/application.html' %}

{% block content %}

<div class='overall_tweets'></div>
<div class='tweet_types'></div>
<div class='hourly_tweets'></div>

<script>
  d3.json('{% url 'hourly_tweets' %}', function(hdata) {
    MG.data_graphic({
      title: "Tweets per Hour",
      description: "How much do you tweet per hour?",
      data: hdata,
      width: 600,
      height: 450,
      top: 50,
      right: 60,
      full_width: true,
      target: ".hourly_tweets",
      x_accessor: "hour",
      y_accessor: [ 'Weekday', 'Weekend'],
      legend: [ 'Weekday',
              'Weekend'],
              aggregate_rollover: true,
              x_label : 'hour',
              xax_count : 24,
              y_extended_ticks: true
      });
  });

  d3.json('{% url 'tweet_types' %}', function(data) {
     data = MG.convert.date(data, 'date');
     MG.data_graphic({
       title: "Tweet classifications",
       description: "Percent of your tweets in a given window that are replies, retweets or regular tweets",
       data: data,
       width: 600,
       height: 450,
       right: 100,
       full_width: true,
       target: ".tweet_types",
       x_accessor: "date",
       y_accessor: ["p_rt",'p_reply','p_other'],
       legend: ["retweets",'replies','regular tweets'],
       aggregate_rollover: true,
       x_label: 'Date',
       y_extended_ticks: true,
       yax_units: '%',
       yax_units_append: true,
       markers: [{'date': new Date('2009-11-06T00:00:00.000Z'), 'label': 'Twitter "invents" retweets'}],
     })
  });

  d3.json('{% url 'overall_tweets' %}', function(data) {
     data = MG.convert.date(data, 'date');
     MG.data_graphic({
       title: "Tweets per day",
       description: "How tweets per day evolve over time",
       data: data,
       width: 600,
       height: 450,
       right: 60,
       full_width: true,
       area: false,
       target: ".overall_tweets",
       x_accessor: "date",
       y_accessor: "tweets",
     });
  });
  </script>

{% endblock %}
