<html lang='en'>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.11.0/metricsgraphics.min.css' rel='stylesheet' type='text/css'>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.11.0/metricsgraphics.min.js"></script>

    {% load static %}
    <link href='{% static "css/metricsgraphics.css" %}' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
       integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
       crossorigin=""/>

     <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
       integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
       crossorigin=""></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>

    <style>
        #map { width: 900px; height: 500px; }
        body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
        .ghbtns { position: relative; top: 4px; margin-left: 5px; }
        a { color: #0077ff; }
    </style>

  </head>

  <body>
    <script>
    d3.json('hourly_tweets/', function(hdata) {
      MG.data_graphic({
        title: "Tweets per Hour",
        description: "How much do you tweet per hour?",
        data: hdata,
        width: 600,
        height: 450,
        top: 50,
        right: 60,
        target: ".hourly_tweets",
        x_accessor: "hour",
        y_accessor: [ 'Weekday', 'Weekend'],
        legend: [ 'Weekday',
                'Weekend'],
                aggregate_rollover: true,
                x_label : 'hour',
                xax_count : 24,
                y_extended_ticks: true

        });
      });
      d3.selectAll('.mg-year-marker text')
    .attr('transform', 'translate(0, 8)');

      d3.json('gender_rt/', function(data) {
         data = MG.convert.date(data, 'date');
         MG.data_graphic({
           title: "retweets & gender",
           description: "Gender distribution amongst retweets",
           data: data,
           width: 600,
           height: 450,
           right: 60,
           target: ".gender_rt",
           x_accessor: "date",
           y_accessor: ["male",'female'],
           legend: ["male",'female'],
           aggregate_rollover: true,
         });
      });

      d3.json('gender_reply/', function(data) {
         data = MG.convert.date(data, 'date');
         MG.data_graphic({
           title: "replies & gender",
           description: "Gender distribution amongst replies",
           data: data,
           width: 600,
           height: 450,
           right: 60,
           target: ".gender_replies",
           x_accessor: "date",
           y_accessor: ["male",'female'],
           legend: ["male",'female'],
           aggregate_rollover: true,
         });
      });

      d3.json('tweet_types/', function(data) {
         data = MG.convert.date(data, 'date');
         MG.data_graphic({
           title: "Tweet classifications",
           description: "Percent of your tweets in a given window that are replies, retweets or regular tweets",
           data: data,
           width: 600,
           height: 450,
           right: 100,
           target: ".tweet_types",
           x_accessor: "date",
           y_accessor: ["p_rt",'p_reply','p_other'],
           legend: ["retweets",'replies','regular tweets'],
           aggregate_rollover: true,
           x_label: 'Date',
           y_extended_ticks: true,
           markers: [{'date': new Date('2009-11-06T00:00:00.000Z'), 'label': 'Twitter "invents" retweets'}],
         })
      });

      d3.json('top_replies/', function(data) {
         data = MG.convert.date(data, 'date');
         y_keys = Object.keys(data[0]);
         y_keys = y_keys.filter(function(item) {
           return item !== 'date'
         });
         MG.data_graphic({
           title: "top replies",
           description: "top replies",
           data: data,
           width: 1200,
           height: 650,
           right: 100,
           bottom: 80,
           target: ".top_replies",
           x_accessor: "date",
           y_accessor: y_keys,
           legend: y_keys,
           aggregate_rollover: true,
           interpolate: d3.curveMonotoneX,
         });
      });

      </script>
      <div class='gender_rt'></div>
      <div class='gender_replies'></div>
      <div class='hourly_tweets'></div>
      <div class='tweet_types'></div>
      <div class='top_replies'></div>

      <div id="map"></div>

      <script>
        d3.json('heatmap/', function(data) {
          var map = L.map('map').setView([0, 0], 1);

          var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
          }).addTo(map);

          var heat = L.heatLayer(data,{'radius':15,'minOpacity':0.4}).addTo(map);
        })
      </script>
    </body>
</html>
