{% extends 'tweet_display/application.html' %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <div class='top_replies'></div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">The most interactions</h3>
      </div>
      <div class="panel-body">
        <p>
          Replying to someones tweets is the main way of interacting on Twitter.
          The people we interact with can stay the same over large spans of time,
          or they can change - reflecting different social networks and circles of
          friends we move in.
        </p>
        <p>
          The graph here shows you the <i>Top Five</i> people you have replied to
          most, summed up for your total time on Twitter. To make the graph less
          prone to noise the replies for each user are not given per day but are
          summed up per quarter.
        </p>
        <p>
          The <code>x-axis</code> thus lists individual
          quarters since the sign-up to Twitter. They <code>y-axis</code> gives the
          sum of replies for the individual users per quarter. The <i>Top Five</i>
          people you replied to are color-coded and are also listed on the graph
          when hovering over a given data point.
        </p>
      </div>
    </div>
  </div>
</div>

<div class='gender_rt'></div>
<div class='gender_replies'></div>

<script>
d3.json('{% url 'gender_rt' %}', function(data) {
   data = MG.convert.date(data, 'date');
   MG.data_graphic({
     title: "retweets & gender",
     description: "Gender distribution amongst retweets",
     data: data,
     width: 600,
     height: 450,
     right: 60,
     full_width: true,
     target: ".gender_rt",
     x_accessor: "date",
     y_accessor: ["male",'female'],
     legend: ["male",'female'],
     aggregate_rollover: true,
   });
});

d3.json('{% url 'gender_reply' %}', function(data) {
   data = MG.convert.date(data, 'date');
   MG.data_graphic({
     title: "replies & gender",
     description: "Gender distribution amongst replies",
     data: data,
     width: 600,
     height: 450,
     right: 60,
     full_width: true,
     target: ".gender_replies",
     x_accessor: "date",
     y_accessor: ["male",'female'],
     legend: ["male",'female'],
     aggregate_rollover: true,
   });
});

d3.json('{% url 'top_replies' %}', function(data) {
   data = MG.convert.date(data, 'date');
   y_keys = Object.keys(data[0]);
   y_keys = y_keys.filter(function(item) {
     return item !== 'date'
   });
   MG.data_graphic({
     title: "top replies",
     description: "top replies",
     data: data,
     width: 1200,
     height: 450,
     right: 100,
     bottom: 80,
     full_width: true,
     target: ".top_replies",
     x_accessor: "date",
     y_accessor: y_keys,
     legend: y_keys,
     aggregate_rollover: true,
     interpolate: d3.curveMonotoneX,
   });
});

</script>

{% endblock %}
