{% extends 'tweet_display/application.html' %}

{% block content %}

      <h1>One last step: Uploading your data</h1>
      <p class="lead">
        Thank you! We have your authorization from Open Humans.
      </p>
      <div class="row">
        <div class="col-md-6">
          <h3>
            To get your Twitter archive &hellip;
          </h3>
          <ol>
            <li>Go to your <b><a href="https://twitter.com/settings/your_twitter_data">Twitter Data</a> page</b></li>
            <li><b>Enter your password and request your data</b></li>
            <li><b>Check your email</b> &ndash; you should get a <b>download link</b> for your data!</li>
          </ol>
          <h3>
            To upload your tweets&hellip;
          </h3>
            <ol>
            <li>Downloaded the archive you requested as described above</li>
            <li>Open this zipped archive and <b>extract the <code>tweet.js</code> file from it</b>.</li>
            <li>Optionally: If your <code>tweet.js</code> file is very big you can make a new zip file only containing that</li>
            <li>You can now upload the <code>tweet.js</code> to Open Humans account using the form below.</li>
            </ol>
            After all of this your data will be analyzed! Depending on your tweet volume and resulting archive size the upload might take a while.
          <h4>
            What's in the <code>tweet.js</code> file I'm supposed to upload?
          </h4>
            The file contains all of your tweets along with metadata like geolocation,
            whether it was a reply and to whom, links etc.
            It does <b>not</b> contain your direct messages, videos, images or anything else.
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              {% include 'users/partials/upload_form.html' %}
            </div>
          </div>
          <p>
            You can also visit <a href="{{ oh_proj_page }}">this project's page on Open Humans </a>
            to see any data you've previously uploaded.
          </p>
        </div>
      </div>

{% endblock %}
