{% extends 'tweet_display/application.html' %}

{% block content %}

      <div class="jumbotron">
        <h1>Analyze your Twitter Archive through <i>Open Humans</i></h1>
        <p>
          Upload your archive into an
          <a href="{{ oh_proj_page }}">Open Humans account</a>
          and analyze it here.
        </p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>How it works</h2>
          <ol>
            <li><b>Request your Twitter archive from the <a href="https://twitter.com/settings/account">Twitter website</a></b><br>
              Visit your
              <a href="https://twitter.com/settings/account">
                account settings
              </a> and scroll all the way down. Click on <i>Request your archive</i>.
              Once the archive is created Twitter will email you with the link to
              download it.
            </li>
            <li><b>Log in or create an Open Humans account</b><br>
              You can upload your Twitter archive into this account once Twitter
              has created it.
            </li>
            <li><b>Authorize the Twitter Archive Analyzer in Open Humans</b><br>
              This authorizes us to deposit your archive into your Open Humans account.</li>
            <li><b>Upload your archive.</b><br>
              You will be redirected back to the Twitter Archive Analyzer and can then
              upload your archive data.
              You'll be able to
              <a href="{{ oh_proj_page }}">access &amp; manage your data on
              Open Humans</a>.
            </li>
          </ol>
          <a class="btn btn-primary btn-lg"
            href="https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/?client_id={{ client_id }}&response_type=code{% if redirect_uri %}&redirect_uri={{redirect_uri}}{% endif %}">
              Get started
          </a>
        </div>
        <div class="col-md-6">
          <h2>FAQ</h2>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Can I see an example of what I'll get?</h3>
            </div>
            <div class="panel-body">
              <p>
                You bet you can! You will get a general analysis of your tweet behavior,
                a breakdown of your interactions over time as well as maps that show from where
                you tweet.
              </p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Will my archive data be public?</h3>
            </div>
            <div class="panel-body">
              <p>
                The short answer: No. The longer answer: No, unless you decide that
                you want to make this data public, then you can head over to
                <a href="{{ oh_proj_page }}">Open Humans</a>.
                and make the archive data publicly available.
              </p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Will my visualizations be publicly available?</h3>
            </div>
            <div class="panel-body">
              <p>
                The same short answer: No. The longer answer: No, unless you decide that
                you want to make this data public, then choose to do so right here on the website.
                You will get URLs that allow you to share the visualizations with others.
                You can also choose to make the
                graphs private again at any point later on.
              </p>
            </div>
          </div>
        </div>
      </div>


{%endblock%}
