{% extends 'tweet_display/application.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Who's running this?</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-5">
            {% load static %}
            <img src="{% static "profile.jpg"%}"  style="width:150px"/>
          </div>
          <div class="col-md-7">
            <p>
            The site is hosted and run by <strong><a href="http://www.ruleofthirds.de">
              Bastian Greshake Tzovaras</a></strong>. When he is not diving in the data of Twitter archives
              he is tweeting himself at <strong>
                <a href="https://twitter.com/gedankenstuecke">@gedankenstuecke</a></strong>,
                busy as Director of Research of
                <strong><a href="https://openhumans.org">Open Humans</a></strong>
                and co-founder of
                <strong><a href="https://opensnp.org">openSNP</a></strong>.
              </p>
              <p>
                If you want to be in touch with Bastian you can reach him at bastian@openhumans.org
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">You did this all alone?</h3>
      </div>
      <div class="panel-body">
        <p>
          Good point. I really didn't. There were people who directly and indirectly helped in making them.
          Because of this <strong>Thanks go to:</strong>
        </p>
        <p>
          <strong><a href="https://twitter.com/madprime">Madeleine Price Ball</a></strong>, Executive
          Director of Open Humans, helped with implementing the file-upload code that pushes the uploaded
          data to Open Humans.
        </p>
        <p>
          Much of the map-based JavaScript stuff that is implemented here are remnants of
            a great workshop that <strong><a href="https://twitter.com/leejoeyk">Joey Lee</a></strong> gave
            at <em>Mozfest 2016</em>!
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">You missed a cool visualization!</h3>
      </div>
      <div class="panel-body">
        <p>
          I'm pretty sure that I missed something cool that could be done with <em>Twitter Archives</em>.
          You can always let me know what I missed. But even better: This whole thing is <a href="https://github.com/gedankenstuecke/twitter-analyser/">open source</a>. So you can
          <a href="https://github.com/gedankenstuecke/twitter-analyser/issues">open an issue on GitHub</a> (thanks for that) or even directly <a href="https://github.com/gedankenstuecke/twitter-analyser/pulls">contribute a pull request</a> that adds the data
          visualization that you're missing!
        </p>
        <p>
          Even better: If you have a great idea that would substantially extend the <font color="#1DA1F2">Tw</font>Arχiv
          you can even be paid for doing so:
          <strong><a href="https://www.openhumans.org/grants/">Open Humans offers grants of $5,000 for the creation of projects.</a></strong>
          What I personally would love to see: Doing a Tweet-based sentiment analysis over time!
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2>FAQ</h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Will my Twitter archive be public if I use <font color="#1DA1F2">Tw</font>Arχiv?</h3>
      </div>
      <div class="panel-body">
        <p>
          The short answer: No. <font color="#1DA1F2">Tw</font>Arχiv uses <a href="https://www.openhumans.org/">Open Humans</a>
          to store the data. By default Open Humans will not make your data publicly available
          and will not share the data with anyone.
        </p>
        <p>
          Having said this: Open Humans gives you the
          option to make your data publicly available. To do this you can head over to
          <a href="{{ oh_proj_page }}">Open Humans</a>. On the page you will find the option
          to make your data fully public.
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Will my visualizations that <font color="#1DA1F2">Tw</font>Arχiv generates be public?</h3>
      </div>
      <div class="panel-body">
        <p>
          The same short answer: No. By default no one but you can access the graphs you see after your
          login. But if you want to share them with your closest 3,000 friends on Twitter you can do so.
          Just head to your <a href="{% url 'dashboard' %}">settings</a> and they are publicly available.
        </p>
        <p>
          If you do this, your
          graphs will <a href="{% url 'public_data' %}">be public visualizations</a>
          right here on the website. You can also choose to make the
          graphs private again at any point later on. Making your graphs on <font color="#1DA1F2">Tw</font>Arχiv
          public or private does not relate to your Archive sharing settings on Open Humans.
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Why does <font color="#1DA1F2">Tw</font>Arχiv not generate my graphs?!</h3>
      </div>
      <div class="panel-body">
        <p>
          Reading in all of your archive might take a while, depending on how prolific a Twitter user you are.
          Bastian's archive contains around 100,000 tweets and it easily takes some ~15 minutes to read in all that data
          and generate the graphs. Just have some patience and come back after sending some more tweets.
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">I waited like, a really long time. But there are still no graphs!</h3>
      </div>
      <div class="panel-body">
        <p>
          Sometimes things go wrong when reading in the files, sorry for that (also, did you follow the instructions to the letter?).
          If you suspect that this is the case please head to your <a href="{% url 'dashboard' %}">settings</a> and trigger a
          reprocessing of your data.
        </p>
        <p>
          That didn't help either? Please email Bastian and you can jointly investigate what's going on.
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">I tweeted a lot since the data upload. Can I update my data?</h3>
      </div>
      <div class="panel-body">
        <p>
          Absolutely. If you want to update your archive for a newer version you can just head to
          your <a href="{% url 'dashboard' %}">settings</a> and upload a newer copy. We will automatically
          delete the old files and replace everything with newer copies.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
